<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=42ce7700-bb5a-44cf-8d8b-a27300eb9d9d.sqlserver.sequelizer.com;Database=db42ce7700bb5a44cf8d8ba27300eb9d9d;User ID=qwkukpqodorfyfut;Password=nJRqH5UqJCzbB8xUtX8PRziGk3wCdxbdPhpJX6KQghn5jKfim33ipgeVAifNGrnm;" />
  </connectionStrings>
</configuration>